{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Plutonium Trade | login</title>
    <link href="{% static 'css/login.css' %}" rel="Stylesheet">
{% endblock %}

{% block content %}
    <div class="form-box">
        <div class="messages">
            {% for message in messages %}
                <p id="message">{{message}}</p>
            {% endfor %}
        </div>
        <form id="login" class="input-group" action="" method="POST">
            {% csrf_token %}
            <input name="username" type="text" placeholder="Username">
            <input name="password" type="password" placeholder="Password">
                
            <Button type="submit" name="btnform1">Login</Button>
        </form>
        <h5><a href="{% url 'tb_app:reset_password' %}">Forgot Password?</a></h5>
        <h5>Don't have an account? <a href="{% url 'tb_app:register' %}">Sign up</a></h5>
    </div>
{% endblock %}