{% extends 'base.html' %}
{% load static %}

{% block title %}
<link href="{% static 'css/prices.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    <div class="main-1">
        <div class="align-main">
            <div class="box-prices">
                <div class="main-title">
                    <a>Free</a>
                </div>
                <a class="money">$0.00</a>
                <div class="functions">
                    <ul>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Simulations</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Arbitrage</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Flash loans</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Mutual investment</a>
                        </li>
                        <li>
                            <img src="{% static 'media/x.png' %}">
                            <a>Simulations</a>
                        </li>
                        <li>
                            <img src="{% static 'media/x.png' %}">
                            <a>Arbitrage</a>
                        </li>
                        <li>
                            <img src="{% static 'media/x.png' %}">
                            <a>Flash loans</a>
                        </li>
                        <li>
                            <img src="{% static 'media/x.png' %}">
                            <a>Mutual investment</a>
                        </li>
                        <li>
                            <img src="{% static 'media/x.png' %}">
                            <a>Flash loans</a>
                        </li>
                        <li>
                            <img src="{% static 'media/x.png' %}">
                            <a>Mutual investment</a>
                        </li>
                    </ul>
                </div>
                <div class="call-to-action">
                    <button>Select</button>
                </div>
            </div>
            <div class="box-prices">
                <div class="main-title">
                    <a>Advanced</a>
                </div>
                <a class="money">$12.5/month</a>
                <div class="functions">
                    <ul>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Simulations</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Arbitrage</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Flash loans</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Mutual investment</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Simulations</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Arbitrage</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Flash loans</a>
                        </li>
                        <li>
                            <img src="{% static 'media/x.png' %}">
                            <a>Mutual investment</a>
                        </li>
                        <li>
                            <img src="{% static 'media/x.png' %}">
                            <a>Flash loans</a>
                        </li>
                        <li>
                            <img src="{% static 'media/x.png' %}">
                            <a>Mutual investment</a>
                        </li>
                    </ul>
                </div>
                <div class="call-to-action">
                    <button>Select</button>
                </div>
            </div>
            <div class="box-prices">
                <div class="main-title">
                    <a>Premium</a>
                </div>
                <a class="money">$18/month</a>
                <div class="functions">
                    <ul>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Simulations</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Arbitrage</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Flash loans</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Mutual investment</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Simulations</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Arbitrage</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Flash loans</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Mutual investment</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Flash loans</a>
                        </li>
                        <li>
                            <img src="{% static 'media/check.png' %}">
                            <a>Mutual investment</a>
                        </li>
                    </ul>
                </div>
                <div class="call-to-action">
                    <button>Select</button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}